<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Title</title>
<form action="/pagina-processa-dados-do-form" method="post">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" />
    </div>
    <div>
        <label for="matricula">matricula:</label>
        <input type="matricula" id="matricula" />
    </div>
  <div>
  <img src="avatar.png" alt="Texto alternativo" title="Avatar" />
   <img src="arquivo_inexistente.jpg" alt="Texto alternativo" title="Outra figura"/>
<a href="https://www.youtube.com/watch?v=UMhskLXJuq4">Página 2</a>
</div>
</form>
</head>
</html>
